#hinaba_g{

	.sub_header{
		width: 100%;
		height:20vw;
		margin-top: 10px;
		background-color: rgb(176,24,24);
		display: flex;
		img{
			width:30%;
			height: 100%;
			margin-left:auto;
		}
	}

	.page_contents {
		display: flex;
		width: 100%;

		.right,
		.left {
			width: 50%;
		}
	
		.box27 {
			position: relative;
			margin: 2em 0;
			padding: 0.5em 1em;
			border: solid 3px #ffdda6;
		}
		.box27 .box-title {
			position: absolute;
			display: inline-block;
			top: -27px;
			left: -3px;
			padding: 0 9px;
			height: 25px;
			line-height: 25px;
			font-size: 17px;
			background: linear-gradient(-45deg,orange,rgb(255, 234, 211));
			color: #000;
			font-weight: bold;
			border-radius: 5px 5px 0 0;
		}
		.box27 p {
			margin: 0; 
			padding: 0;
		}
	}
}