#mkuramoto {
	.title_main {
		width: 100%;
		text-align: center;
		font-size: clamp(10px, 35 / 830 * 100vw, 200px);
		color: rgb(133, 168, 149);
		margin: auto;
	}

	.page_contents {
		display: block;

		.content_1,
		.content_2 {
			width: 100%;
		}

		.head_,
		.foot_ {
			width: 100%;
			height: 50px;
			background-color: rgb(41, 18, 18);
		}

		.content_1>div {
			background: rgb(133, 168, 149);
			width: 20%;
			margin: 20px 0;
		}

		.gr {
			background: rgb(133, 168, 149);
			width: 100%;
		}
	}

	.sub_title {

		height: auto;
		word-wrap: none;
		word-break: keep-all;
		color: white;
		margin: auto;
		text-align: center;
		font-weight: bold;
		font-size: clamp(10px, 5 / 221 * 100vw, 100px);
		padding: 15px;
	}

	ul {
		margin-left: 10%;

		li {
			margin: 25px 0;
			font-size: clamp(10px, 15 / 830 * 100vw, 70px);
		}
	}

	.sub_header {
		width: 60%;
		display: flex;
	}

	.sub_discription {
		width: 60%;
		font-size: clamp(3px, 5 / 331 * 100vw, 70px);
		word-break: keep-all;
		word-wrap:none;
	}

	.aviutl > p,
	.davinch > p,
	.yu > p {
		font-size: clamp(10px, 10 / 691 * 100vw, 70px);
	}

	p>span {
		font-size: clamp(10px, 5 / 222 * 100vw, 100px);
		margin: 15px 0;
		font-weight: bold;
	}

	.aviutl,
	.davinch,
	.yu {
		display: flex;
		padding: clamp(10px, 15 / 363 * 100vw, 100px) 0;

	}

	img {
		width:20vw;
		height: 20vw;
		margin: auto;
	}
}