@font-face {
  font-family: "my";
  src: url("../font/Mamelon-3.5-Hi-Regular.otf");
}
#greet_ p {
  font-size: clamp(10px, 1.3149243918vw, 100px);
  word-wrap: break-word;
  word-break: break-all;
  font-family: my;
}
#greet_ p span {
  -webkit-text-decoration: underline double 1px black;
          text-decoration: underline double 1px black;
  text-underline-offset: 5px;
}