#hinaba {

	h2 span:after{
		background: linear-gradient(to right, rgb(0, 17, 255), rgb(178, 186, 255), transparent);
	}
	h2:has(span) {
		display: flex;
		font-size: 2em;
		padding: 0 0 10px;
		color: #333;
		margin: 0 1% 40px;
		text-align: left;
		text-shadow: 1px 1px 5px rgb(252, 252, 252), 1px 1px 1px rgb(103, 144, 255);
	}
	.page_contents {
		display: flex;
		width: 100%;

		.right,
		.left {
			width: 50%;
		}

		.sub_title {
			text-size-adjust: 2em;
			display: block;
			text-decoration: underline;
			margin: 2% 0;
		}

		.frame1 {
			border: #000 solid 1px;
			background-color: aliceblue;

		}

		.photo_1 {
			display: block;
			width: 90%;
			margin: auto;
			margin-top: 5%;

		}

		.page_contents>.left>p:not(.sub_title),
		.page_contents>.right>p {
			font-size: 13px;
		}
	}

}