@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

html {
	height: 100%;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	background: rgba(111, 111, 111, 0.721);
	font-weight: 400;
	font-size: 100%;
	color: #333;
	height: 100%;
}

#hide_front {
	width: 45%;
	height: 101vh;
	z-index: 1001;
	position: absolute;
	left: 0;
	background: rgba(111, 111, 111);
	box-shadow: 0px 0px 10px 3px rgb(105, 105, 105);
}

#hide_back {
	width: 45%;
	height: 101vh;
	z-index: 1001;
	position: absolute;
	right: 1%;
	background: rgba(111, 111, 111);
	box-shadow: 0px 0px 10px 3px rgb(105, 105, 105);
	display: none;
}

#frontcover {
	display: block;
	position: absolute;
	width: 55%;
	height: 100vh;
	right: 1%;
}

#backcover {
	display: block;
	position: absolute;
	width: 55%;
	height: 100vh;
	left: 0;
}

.img_ {
	width: 100%;
	height: 100%;
}

.title_ {
	width: 50%;
	height: 100%;
	position: absolute;
	right: 0;
	display: flex;
}

.title_>p,
.title_>h1 {
	color: white;
	text-shadow: 0px 0px 2px rgb(0, 255, 255);
}

.title_>h1 {
	word-break: keep-all;
	font-size: 4.5em;
	position: absolute;
	right: 15%;
	top: 3%;
}

.title_>p {
	font-size: 1em;
	word-break: keep-all;
	position: absolute;
	left: 50%;
	top: 87.5%;
	/* bottom:15%;  */
}

.js body {
	overflow: hidden;
}

a {
	color: #555;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #000;
}

.container,
.bb-custom-wrapper,
.bb-bookblock {
	height: 100%;
	width: 100%;
	box-shadow: 0px 0px 10px 3px rgb(105, 105, 105);
}

.bb-custom-wrapper {
	width: 80%;
	margin: auto;
}

.container {
	position: relative;
	left: 0px;
	-webkit-transition: left 0.3s ease-in-out;
	-o-transition: left 0.3s ease-in-out;
	transition: left 0.3s ease-in-out;
}

.slideRight {
	left: 240px;
	/* transform: translateX(140px); */
}

.no-js .container {
	padding-left: 240px;
}

.menu-panel {
	width: 240px;
	height: 100%;
	position: fixed;
	z-index: 1000;
	margin: left;
	top: 0;
	left: 0;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	background-image: linear-gradient(-65deg, rgb(54, 218, 255), rgb(44, 44, 251));
}

.js .menu-panel {
	position: absolute;
	left: -240px;
}

.menu-panel h3 {
	font-size: 1.8em;
	padding: 20px 20px 10px 20px;
	font-weight: 5em;
	border-bottom: 1px solid #ffffff;
	color: rgb(252, 252, 252);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.05);
	background: linear-gradient(transparent 30%, #05b0ff 90%);
}

.menu-panel>.logo {
	display: block;
	width: 100%;
	height: auto;
	margin-top: 20px;
}

.menu-toc {
	list-style: none;
}

.menu-toc li a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	line-height: 3.5;
	padding: 0 20px;
	cursor: pointer;
	border-bottom: 1px solid #004f90;
}

.menu-toc li a:hover,
.menu-toc li.menu-toc-current a {
	background: #fe60bf;
	transition: 0.5s;
}

.menu-panel div {
	margin-top: 20px;
}

.menu-panel div a {
	text-transform: uppercase;
	font-size: 0.7em;
	line-height: 1;
	padding: 5px 20px;
	display: block;
	border: none;
	color: #bc0b0b;
	letter-spacing: 1px;
	font-weight: 800;
	text-shadow: 0 1px rgba(255, 255, 255, 0.2);
}

.menu-panel div a:hover {
	background: inherit;
	color: #fff;
	text-shadow: none;
}

.bb-custom-wrapper nav {
	top: 20px;
	left: 60px;
	position: absolute;
	z-index: 1000;
}

#bb-nav-prev,
#bb-nav-next,
#tblcontents {
	z-index: 1900;
}

.bb-custom-wrapper nav span,
.menu-button {
	position: absolute;
	width: 32px;
	height: 32px;
	top: 0;
	left: 0;
	background: #f1103a;
	border-radius: 50%;
	color: #fff;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}

.bb-custom-wrapper nav span:hover,
.menu-button:hover {
	background: #000;
}

.bb-custom-wrapper nav span:last-child {
	left: 40px;
}

.menu-button {
	z-index: 1000;
	left: 20px;
	top: 20px;
	text-indent: -9000px;
}

.menu-button:after {
	position: absolute;
	content: '';
	width: 50%;
	height: 2px;
	background: #fff;
	top: 50%;
	margin-top: -1px;
	left: 25%;
	box-shadow: 0 -4px #fff, 0 4px #fff;
}

.no-js .bb-custom-wrapper nav span,
.no-js .menu-button {
	display: none;
}

.js .content {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	bottom: 50px;
	overflow: hidden;
	-webkit-font-smoothing: subpixel-antialiased;
}

.scroller {
	padding: 10px 5% 10px 5%;
}

.js .content:before,
.js .content:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 20px;
	z-index: 100;
	pointer-events: none;
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.js .content:after {
	top: auto;
	bottom: 0;
	background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.content h2:not(:has(span)) {
	font-weight: 300;
	font-size: 4em;
	padding: 0 0 10px;
	color: #333;
	margin: 0 1% 40px;
	text-align: left;
	box-shadow: 0 10px 0 rgba(0, 0, 0, 0.02);
}

h2 span:after {
	content: "";
	display: block;
	height: 5px;
}

.Title {
	width: 100%;
	display: flex;
	border-bottom: #000 solid 1px;
}

.author {
	position: absolute;
	font-size: 1em;
	right: 0;
	margin-top: 5%;
	/* bottom:5px; */
}

#game {
	text-shadow: 1px 1px 5px rgb(252, 252, 252), 2px 2px 5px rgb(103, 144, 255);
}

#media {
	text-shadow: 1px 1px 5px rgb(252, 252, 252), 2px 2px 5px rgb(255, 196, 34);
}

#elect {
	text-shadow: 1px 1px 5px rgb(252, 252, 252), 2px 2px 5px rgb(229, 255, 59);
}

#web {
	text-shadow: 1px 1px 5px rgb(252, 252, 252), 2px 2px 5px rgb(110, 241, 255);
}

#st {
	text-shadow: 1px 1px 5px rgb(252, 252, 252), 2px 2px 5px rgb(255, 103, 111);
}

#fin {
	text-shadow: 1px 1px 5px rgb(252, 252, 252), 2px 2px 5px rgb(33, 252, 70);
}

.content h3 {
	font-weight: 300;
	font-size: 2em;
	padding: 0 0 10px;
	color: #333;
	margin: 0 1% 40px;
	text-align: left;
	text-shadow: 0 0 2px #fff;
}

.no-js .content h2 {
	padding: 40px 1% 20px;
}

.content p {
	font-size: 1.2em;
	line-height: 1.6;
	font-weight: 300;
	padding: 5px 8%;
	text-align: justify;
}



.toc>table {
	margin: auto;
	word-break: keep-all;
	word-wrap: none;
	font-size: 1.5em;
	border: solid 1px black;
	border-collapse: collapse;
	border-spacing: 5vw;
}

table th,
table td {
	border: solid 1.5px black;
	padding: 0px 10px;

}

.contents_table {
	width: 70%;
	font-size: 100%;
	word-wrap: none;
	text-align: center;
}

.page_table {
	width: 15%;
	word-wrap: none;
	text-align: center;
	font-size: 80%;
}

.author_table {
	width: 15%;
	word-wrap: none;
	text-align: center;
	font-size: 80%;
}



@media screen and (max-width: 800px) {
	.no-js .menu-panel {
		display: none;
	}

	.no-js .container {
		padding: 0;
	}
}

@media screen and (max-width: 400px) {

	.menu-panel,
	.content {
		font-size: 75%;
	}
}

